body {

    background-color: #EFFBFB

}

.nav{

    text-align: center;

    font-family: 'Times New Roman', Times, serif; 

}

.logIn{

  border-color: #b6ff00;  

}

header{

	text-align: center;

}

.question {

	text-align: center;

}